[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
flake8 = "*"

[packages]
numpy = "*"
tensorflow = "*"
pillow = "*"
flask = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
